.aside {
  background-color: #31353d;
  color: #fff;
  width: 300px;
  position: relative;
  height: 100vh;
  z-index: 100;
  overflow-x: auto;
}

.sidebar-wrapper {
  font-size: 1.2em;
}

.sidebar-wrapper .profile-detail {
  text-align: center;
  margin: 1rem 0.5rem;
}

.sidebar-wrapper .profile-detail .image {
  width: 50%;
  margin: auto;
}

.sidebar-wrapper ul {
  list-style: none;
  padding: 0px;
}

.sidebar-wrapper .sidebar-toggle-btn {
  position: absolute;
  top: 0px;
  left: 0px;
}

.sidebar-nav-wrapper {
  margin-top: 4rem;
}

.sidebar-wrapper .btn {
  color: #fff;
  margin-left: auto;
}

.sidebar-wrapper .sidebar-nav .nav-item {
  margin: 1.5rem 0rem;
  cursor: pointer;
}

.sidebar-wrapper .sidebar-nav .nav-item .link {
  display: block;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.sidebar-wrapper .sidebar-nav .icon {
  padding: 0rem 1rem;
}

.setting-option .sidebar-nav .nav-item {
  padding: 0.2rem 0.2rem;
  margin: 0.5rem 0rem;
}

.sidebar-wrapper .setting-option .content {
  font-size: 0.7em !important;
  padding: 0.5rem 0.2rem;
}

.rotate-90 {
  transform: rotate(90deg);
}

.logout {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.logout .logout-btn {
  margin: auto;
  padding: 1rem;
}

@media only screen and (max-width: 768px) {
  .open-sidebar {
    position: absolute;
    top: 0px;
    width: 200px !important;
  }
  .aside {
    width: 60px;
  }

  .sidebar-toggle-btn {
    display: block !important;
  }

  .sidebar-wrapper .profile-detail {
    display: none;
  }

  .nav-item .content {
    display: none;
  }
}
