.message-wrapper {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* flex-direction: row-reverse; */
}

.user-img {
  margin: 10px;
  margin-top: 25px;
}

.user-name {
  margin-top: 10px;
  text-align: center;
}

.text {
  margin: 10px 15px;
  padding: 10px 15px;
  border: 1px solid #aaaa;
  border-radius: 5px;
  min-height: 40px;
  max-width: 70%;
  margin-top: 20px;
}

.text-time {
  margin-top: -10px;
  margin-left: 30px;
}
