.profile-wrapper {
  width: 100%;
}

.search-bar-wrapper {
  width: 60%;
  margin: auto;
  margin-top: 2rem;
}

.search-bar-wrapper .search-bar {
  padding: 0.5rem;
  border: 1px solid #c90bce;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
}

.search-bar-wrapper .search-bar .search-input {
  width: 90%;
}

.search-bar .search-input .input {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
}

.search-bar-wrapper .search-bar .search-btn {
  width: 10%;
}

.search-bar .search-btn .btn:hover {
  color: inherit !important;
}

.profile-wrapper .profile-card {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #eee;
  box-shadow: 10px 25px 20px -21px rgba(0, 0, 0, 0.2);
}

/* .service-btn,
.short-summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.service-btn div {
  padding: 10px 20px;
}

.short-summary {
  justify-content: start;
}

.profile-wrapper .user-name {
  padding-left: 50px;
}

.detail-summery {
  margin-top: 40px;
}

.card-footer {
  background-color: #fff;
  border: none;
} */
