.profile-wrapper {
  width: 100%;
}

.not-found-error {
  width: 50%;
  margin: auto;
}

.search-bar-wrapper {
  width: 60%;
  margin: auto;
  margin-top: 2rem;
}

.search-bar-wrapper .search-bar {
  padding: 0.5rem;
  border: 1px solid #c90bce;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
}

.search-bar-wrapper .search-bar .search-input {
  width: 90%;
}

.search-bar .search-input .input {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
}

.search-bar-wrapper .search-bar .search-btn {
  width: 10%;
}

.search-bar .search-btn .btn:hover {
  color: inherit !important;
}

.action-btn .col-6 {
  padding: 0px;
}

.action-btn .btn {
  padding: 0.3rem 1.5rem;
  background-color: #c90bce;
  color: #fff;
  border-radius: 0.5rem;
}

.profile-photo {
  width: 50%;
  text-align: center;
  margin: auto;
}

.personal-info-wrapper {
  width: 70%;
}

.personal-info ul {
  list-style: none;
  padding: 0px;
}

.personal-info .info-list {
  padding: 1rem 1rem;
}
